OPENAI_API_KEY=sk-7fxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MIDSCENE_MODEL_NAME=qwen3-vl-plus
RUNTIME_DIR_PREFIX=t_
PLAYWRIGHT_OUTPUT_DIR=t_test-results
PLAYWRIGHT_HTML_REPORT_DIR=t_playwright-report
MIDSCENE_RUN_DIR=t_midscene_run
